*{
    font-family: 'Mansalva', cursive;
}

.middle{
    margin-top: 20%;
    margin-left: 34%;

}

.h1-md{
    font-size: 100px;
}

ul li{
    display: inline-block;
    padding: 10px;
}

ul li a:hover{
    text-decoration: none;
}

nav {
    background-color: #FF5252;
}

nav ul li a{
    color:white;
}
nav ul li{
    padding: 20px
}

nav ul li a:hover{
    color: rgb(207, 207, 207);
}